# https://github.com/5j9/wikitextparser#templates
wikitextparser
# https://pypi.org/project/Jinja2/
jinja2
# https://pypi.org/project/pylodstorage/
pylodstorage>=0.1.10
# https://pypi.org/project/py-3rdparty-mediawiki/
py-3rdparty-mediawiki>=0.5.4
