{#-------------------------------Concept Page---------------------------------#}
{#
Generate the concept of page for a entity.
Input:
    topic: properties defining the entity
    properties: all properties of the wiki.
Output: Generates the page Concept:<topic.name>
#}
{#---------------------------------Import-------------------------------------#}
{% from 'macros/utils.jinja' import render_entity %}
{% from 'macros/form.jinja' import forminput %}
{#-------------------------------Template-------------------------------------#}
__NOCACHE__
{{ topic.render_entity(oneliner=False) }}
{{ forminput('Property', button_text='add Property') }}
=== Documentation ===
{{ topic.wiki_documentation }}
=== uml ===
{% include "uml.jinja" %}

{{ '{{' }}#concept:
 [[Category:{{ topic.name }}]]
 |{{ topic.plural_name }}
see also
* [[List of {{ topic.plural_name }}]]
* [[Help:{{ topic.name }}]]
* [[Concept:{{ topic.name }}]]
* [[:Category:{{ topic.name }}]]
* [[:Template:{{ topic.name }}]]
* [[:Form:{{ topic.name }}]]
topic links:
{% for rel_topic in topic.get_related_topics(properties) -%}
* [[:Category:{{ rel_topic }}]]
{% endfor %}
{{ '}}' }}
{# [[:Category:{{ topic.name }}]] #}
