{#---------------------------------Import-------------------------------------#}
{% from 'utils.jinja' import render_entity %}
{#-------------------------------Template-------------------------------------#}
{{ render_entity(name='Event',properties=properties) }}
{#----------------------------------------------------------------------------#}