{#-------------------------------Help Page------------------------------------#}
{#
Generate a help page for a entity.
Input:
    topic.name: name of the entity
    topic: properties defining the entity
    all_properties: all properties of the wiki.
Output: Generates the page Help:<topic.name>
#}
{#---------------------------------Import-------------------------------------#}
{% from 'macros/utils.jinja' import render_entity %}
{#-------------------------------Template-------------------------------------#}
== Help for {{ topic.name }} ==
{{'{{' }}#ask: [[Topic name::{{ topic.name }}]]
|mainlabel=-
|?Topic icon = icon
|? = Topic
|?Topic name = name
|?Topic pluralName = pluralName
|?Topic documentation = documentation
{{ '}}' }}
=== Documentation ===
[https://www.wikidata.org/wiki/Q515 large permanent human settlement]
=== Example {{ topic.plural_name }} ===
{{ '{{' }}#ask: [[Concept:{{ topic.name }}]]
|limit=25
|searchlabel=...more examples
{{ '}}' }}
=== Properties ===
{{ '{{' }}#ask: [[Concept:Property]][[Used for::Concept:{{ topic.name }}]]
{% for var in Property.get_property_properties(all_properties) -%}
|?Property {{ var.name }} = {{ var.label }}
{% endfor %}
|format=table
{{ '}}' }}
=== uml ===
{% include "uml.jinja" %}

see also
* [[List of {{ topic.plural_name }}]]
* [[Help:{{ topic.name }}]]
* [[Concept:{{ topic.name }}]]
* [[:Category:{{ topic.name }}]]
* [[:Template:{{ topic.name }}]]
* [[:Form:{{ topic.name }}]]
topic links:
* [[:Category:{{ topic.name }}]]

{# [[Category:{{ topic.name }}]] #}
