{#-------------------------------List of Page----------------------------------#}
{#
Generate the list of page for a entity.
Input:
    topic.name: name of the entity
    topic: properties defining the entity
    properties: all properties of the wiki.
Output: Generates the page List of<entity_plural_name>
#}
{#---------------------------------Import-------------------------------------#}
{% from 'macros/utils.jinja' import render_entity %}
{% from 'macros/form.jinja' import forminput %}
{#-------------------------------Template-------------------------------------#}
__NOCACHE__
{{ Query(mainlabel="-").select("Topic name::"+topic.name)
                       .printout("Topic icon", "icon")
                       .printout("","Topic")
                       .printout("Topic pluralName", "pluralName")
                       .printout("Topic documentation", "documentation")
                       .render(oneliner=False) }}

== {{ topic.plural_name }} ==
{{ Form.forminput(form=topic.name, button_text='add ' + topic.name) }}
{{ Query(format="count").select("Concept:" + topic.name).render()}} {{ topic.plural_name }}:
{{ Query(mainlabel=topic.name, format="table", limit=200,order="ascending")
                       .select("Concept:" + topic.name)
                       .printout_list_of_properties(Property.get_entity_properties(topic.name, properties))
                       .render(oneliner=False)}}
== See also ==
{{ SMWPart.getAllAsPageLink(topic) }}
<div class="toccolours mw-collapsible mw-collapsed" style="width:1024px">
=== Example rendered with the corresponding Template ===
<div class="mw-collapsible-content">
{{ Query(mainlabel=topic.name, format="template", limit=1,order="ascending", template=topic.name)
                       .select("Concept:" + topic.name)
                       .printout("#", "pageid")
                       .printout_list_of_properties(Property.get_entity_properties(topic.name, properties))
                       .render(oneliner=False)}}
</div>
</div>
{# [[:Category:{{ topic.name }}]] #}