{#-------------------------------List of Page----------------------------------#}
{#
Generate the list of page for a entity.
Input:
    topic.name: name of the entity
    topic: properties defining the entity
    properties: all properties of the wiki.
Output: Generates the page List of<entity_plural_name>
#}
{#---------------------------------Import-------------------------------------#}
{% from 'macros/utils.jinja' import render_entity %}
{% from 'macros/form.jinja' import forminput %}
{#-------------------------------Template-------------------------------------#}
__NOCACHE__
{{ '{{' }}#ask: [[Topic name::{{ topic.name }}]]
|mainlabel=-
|?Topic icon = icon
|? = Topic
|?Topic name = name
|?Topic pluralName = pluralName
|?Topic documentation = documentation
{{ '}}' }}
== {{ topic.plural_name }} ==
{{ forminput(topic.name, button_text='add ' + topic.name) }}
{{ '{{' }}#ask: [[Concept:{{ topic.name }}]]|format=count{{ '}}' }} {{ topic.plural_name }}:
{{ '{{' }}#ask: [[Concept:{{ topic.name }}]]
|mainlabel={{ topic.name }}
{% for entity_property in Property.get_entity_properties(topic.name, properties) -%}
|?{{ entity_property.name }} = {{ entity_property.label }}
{% endfor %}
|order=ascending
| limit=200
{{ '}}' }}
<div class="toccolours mw-collapsible mw-collapsed" style="width:1024px">
=== Example rendered with the correspinding Template ===
<div class="mw-collapsible-content">
{{ '{{' }}#ask: [[Concept:{{ topic.name }}]]
| ?#=pageid
{% for entity_property in Property.get_entity_properties(topic.name, properties) -%}
|?{{ entity_property.name }} = {{ entity_property.label }}
{% endfor %}
| mainlabel=-
| format=template
| named args=yes
| template={{ topic.name }}
| limit=1
{{ '}}' }}
</div>
</div>
{# [[:Category:{{ topic.name }}]] #}