{#---------------------------------Import-------------------------------------#}
{% from 'macros/utils.jinja' import render_entity %}
{#-------------------------------Template-------------------------------------#}
{{ render_entity(name=name,properties=properties) }}
{#----------------------------------------------------------------------------#}