{#-------------------------------Template Page---------------------------------#}
{#
Generate the template of page for a entity.
Input:
    topic: properties defining the entity
    properties: all properties of the wiki.
Output: Generates the page Template:<topic.name>
#}
{#----------------------------Global Variables--------------------------------#}
{% set topic_properties = Property.get_entity_properties(topic.name, properties) %}
{#-------------------------------Template-------------------------------------#}
<noinclude>
This is the template {{ '{{' }}Link|target=Template:{{ topic.name }}|title={{ '}}' }}.

== See also ==
{{ SMWPart.getAllAsPageLink(topic) }}

== Usage ==
<pre>
{{ SMW.render_sample_entity_with_properties(topic, topic_properties, oneliner=False) }}
</pre>
{{ SMW.render_sample_entity_with_properties(topic, topic_properties, oneliner=False) }}

[[Category:Template]]
</noinclude>
<includeonly>
{{ SMW.set_entity_parameter(topic, topic_properties, oneliner=False) }}

{{ Template.table_of_arguments(topic, topic_properties) }}

[[Category:{{ topic.name }}]]{{ SMW.parser_function("default_form",presence_is_true=True, **{topic.name:True}) }}
</includeonly>
